<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FreshResto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/icons/vegan.svg" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="theme-color" content="#4CAF50"/>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to Content</a>

    <header>
      <div class="header-wrapper items-center mx-auto">
        <a href="#/" class="text-decoration-none">
          <div class="flex items-center logo">
            <img src="./images/icons/vegan.svg" width="36" alt="Fresh Resto Logo" /><span
              class="font-pp-semi-bold logo-text"
              >FreshResto</span
            >
          </div>
        </a>
        <nav id="desk-nav">
          <a href="#/">Home</a>
          <a href="#/favorite">Favorites</a>
          <a href="https://www.linkedin.com/in/dwiky-c-b735ab138/" target="_blank">About Us</a>
        </nav>
        <button class="burger-menu">
          <span></span>
          <span></span>
        </button>
      </div>
      <!-- Mobile Drawer -->
      <div class="off-canvas-container">
        <nav class="off-canvas-navbar">
          <a href="#/">Home</a>
          <a href="https://www.linkedin.com/in/dwiky-c-b735ab138/" target="_blank">About Us</a>
          <a href="#/favorite">Favorites</a>
        </nav>
        <button class="close-menu">
          <span></span>
          <span></span>
        </button>
      </div>
      <!-- End Mobile Drawer -->
    </header>

    <main>

    </main>

    <footer>Copyright &copy; 2021 - FreshResto</footer>
  </body>
</html>
