#restaurant-detail {
  font-size: 12px;
}

#restaurant-detail h2 {
  font-size: 14px;
}

.restaurant-detail__header-img > img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.restaurant-detail__header-add2favorites button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: 0;
  background-color: #ffffff;
  color: #4caf50;
  border-radius: 6px;
  box-shadow: 0 3px 8px 0px #cccc;
  font-size: 14px;
}

.restaurant-detail__header-body,
.restaurant-detail__body-reviews {
  padding: 20px;
}

.restaurant-detail__header-body-categories {
  color: #898989;
}

.restaurant-detail__header-body h1 {
  font-size: 18px;
}

.restaurant-detail__header-add2favorites,
.restaurant-detail__body-menu h2 {
  padding: 0 20px;
}

.restaurant-detail__body-menu-items {
  background-color: #eaeaea;
  padding: 6px 20px;
}

.restaurant-detail__body-menu-items span {
  padding: 8px 20px;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
}

.restaurant-detail__body-menu-items span.active {
  background-color: #fff;
}

.restaurant-detail__body-menu-detail-content {
  display: none;
  padding: 0 20px;
}

.restaurant-detail__body-menu-detail-content.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.restaurant-detail__body-menu-details ul {
  list-style: circle;
  padding-inline-start: 20px;
  line-height: 2.25;
}

.restaurant-detail__body-reviews-cards__item {
  background-color: #EAEAEA;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 15px;
}

.restaurant-detail__body-reviews-cards__item p {
  margin: 0;
  color: #656565;
}

.restaurant-detail__body-reviews-cards__item-header-name {
  text-transform: capitalize;
}

.restaurant-detail__body-reviews-cards__item-header-date {
  color: #949494;
  font-size: 10px;
}

p.restaurant-detail__body-reviews-cards__item-comment {
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  #restaurant-detail {
    font-size: 16px;
  }

  #restaurant-detail h2 {
    font-size: 24px;
  }

  .restaurant-detail__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .restaurant-detail__header,
  .restaurant-detail__body-menu h2,
  .restaurant-detail__body-menu-items-wrapper,
  .restaurant-detail__body-menu-details,
  .restaurant-detail__body-reviews {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant-detail__header-add2favorites {
    padding: 0;
  }

  .restaurant-detail__header-img {
    width: 300px;
  }

  .restaurant-detail__header-img > img {
    border-radius: 10px;
  }

  .restaurant-detail__header-body {
    width: 60%;
  }

  .restaurant-detail__header-body h1 {
    font-size: 28px;
  }

  .restaurant-detail__header-body-categories,
  .restaurant-detail__header-body-rating-address {
    font-size: 14px;
  }

  .restaurant-detail__body-reviews-cards__item-header-date {
    font-size: 12px;
  }
}
