.text-center {
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
}

.mt-0 {
    margin-top: 0;
}

.mt-3 {
    margin-top: 12px;
}

.mt-10 {
    margin-top: 40px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.text-decoration-none {
  text-decoration: none;
}

.overflow-hidden {
    overflow: hidden;
}

.text-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.capitalize {
    text-transform: capitalize;
}

/* Fonts */

.font-pp-medium {
    font-weight: 500;
}

.font-pp-semi-bold {
    font-weight: 600;
}

.font-pp-bold {
    font-weight: 700;
}

/* Font Size */

.text-2xs {
  font-size: 10px;
}

.text-xs {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 18px;
}

/* Flex */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

/* Width */

.w-9\/12 {
    width: 75%;
}

.w-10\/12 {
    width: 83.333333%;
}
